div id #9 /div>
h1{
  color: peachpuff
  font size = 15px;
  }
  p{
  font-family: 'Times New Roman', Times, serif
  text-indent 15px;
  margin-left: 8px;
  }
  #content{
  Background-color: #cd853f
  width 450px
  min-height 300px;
  padding: 10px
  margin 10px;
  border: solid 1px #ffa500
  font size 20px;
  }
  .minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }